# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Logs
*.log

# Environment variables
.env

# Firebase credentials (for security reasons)
*firebase-adminsdk*.json

# IDE specific files
.idea/
.vscode/

# Bot-specific
__pycache__/
*.pyc
